@use "base/variables" as v;
@use "base/mixins" as m;


.sidebar{
    opacity: 0;
    height: 0;
    overflow: hidden;

    background-color: v.$indigo;
    transition-property: opacity;
    transition-duration: 500ms;
    &.mostrar{
        padding: 2rem;
        opacity: 1;
        height: 100%;
        position: absolute;
        inset: 0;

        background-color: rgb(0 0 0 / .75);
        @include m.tablet{
            display: none;
        }

    }
    &.ocultar{
        opacity: 0;
    }
    @include m.tablet{
        height: 100%;
        opacity: 1;
        padding: 2rem;
        background-color: v.$indigo;
    }
    .contenedor-sidebar{
        display: flex;
        justify-content: space-between;
        align-items: center;

        h2{
            color: v.$blanco;
            margin: 0;
            text-align: center;
        }
        .cerrar-menu{
           
            display: flex;
            justify-content: center;
            height: 2rem;
            width: 2rem;
            @include m.tablet{
                display: none;
            }
            img{
                &:hover{
                    cursor: pointer;
                }
              
            }
        }

    }
    &-nav{
            margin-top: 5rem;
            a{
                color: v.$blanco;
                display: block;
                margin-bottom: 1.5rem;
                padding: .7rem;
                transition: background-color 300ms ease-out;
                &:hover,
                &.activo{
                    background-color: darken(v.$indigo, 20%);
                    border-radius: .5rem;   
                    
                }

            }
    }
}